@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

button,
.plus-btn,
.remove,
#close-btn {
    cursor: pointer;
}

.d-none {
    display: none !important;
}